@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&family=Playfair+Display:ital,wght@1,500&family=Source+Serif+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&family=Playfair+Display:ital,wght@1,500&family=Source+Serif+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&family=Playfair+Display:ital,wght@1,500&family=Source+Serif+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 500px) {
  .body {
    background-image: url(../assets/imagenes/fondogeneral.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; }
  .body_contacto {
    background-image: linear-gradient(to right top, #c1d0fb5a, #9da4c83c), url(../assets/imagenes/rsz_fondo_contacto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; } }

@media (min-width: 501px) {
  .body {
    background-image: url(../assets/imagenes/fondogeneralWeb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; }
  .body_contacto {
    background-image: linear-gradient(to right top, #c1d0fb5a, #9da4c83c), url(../assets/imagenes/fondo_contacto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; } }

@media (max-width: 500px) {
  .header {
    height: 4rem;
    background-color: #fdfdfd8d; }
    .header .navbar .contentLinks {
      display: none; }
    .header .navresp {
      position: absolute;
      height: 3rem;
      background-color: #fdfdfd;
      z-index: 10; }
      .header .navresp .contentLinks {
        display: none; } }

@media (min-width: 501px) {
  .header {
    background-color: #fafafa7c;
    position: sticky;
    top: 0px;
    z-index: 10;
    height: 2.5rem; }
    .header .logo {
      position: relative;
      bottom: 0.5rem;
      height: 2.5rem; }
    .header .contentLinks {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0.5rem;
      position: relative;
      bottom: 0rem;
      background-color: #ffffff77; }
    .header .navResp {
      display: none; }
  .navbar {
    height: 3rem; }
  .navbar__linck {
    text-decoration: none;
    color: black !important;
    margin-left: 1em;
    position: relative; }
    .navbar__linck:hover:after {
      transform: scaleX(1); }
    .navbar__linck:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: black;
      border-radius: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .35s ease; }
  :root {
    --animate-delay: 0.2s; } }

@media (max-width: 500px) {
  .bannerInicio {
    background-image: linear-gradient(to right bottom, #fffdfd7a, #b9b7b752, #77767641, #3b3b3b2d, #000000), url("../assets/imagenes/rsz_imagen_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    color: rgba(231, 231, 231, 0.736);
    width: 100%;
    text-align: center; }
    .bannerInicio h1 {
      font-size: 4rem;
      font-family: "Playfair Display"; }
    .bannerInicio h4 {
      font-size: 2rem;
      margin-bottom: 1rem; }
    .bannerInicio h6 {
      font-size: 1rem; }
    .bannerInicio a {
      display: none; }
  .seccionContacto .seccionContacto__info {
    margin-bottom: 1rem;
    color: #0000009f; }
    .seccionContacto .seccionContacto__info h2 {
      margin: 1rem;
      font-size: 1.6rem; }
    .seccionContacto .seccionContacto__info p {
      font-size: 1.1rem; }
  .sectionAreas {
    text-align: center; }
    .sectionAreas .sectionAreas__titulo {
      font-size: 1.7rem;
      font-family: "Playfair Display"; }
    .sectionAreas .sectionAreas__cards {
      padding: 1.5rem;
      background-color: rgba(245, 245, 220, 0.393);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-style: inset;
      box-shadow: 60px -16px rgba(32, 33, 33, 0.138); }
      .sectionAreas .sectionAreas__cards a {
        color: rgba(0, 0, 0, 0.793);
        text-decoration: none;
        margin: 0.7rem;
        background-color: rgba(88, 88, 88, 0.26);
        padding: 0.5rem; }
        .sectionAreas .sectionAreas__cards a div .sectionAreas__cards__titulo {
          margin: 0.5em;
          font-size: 1.1em; }
  .bannerSecundario {
    background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/bannerSecundario__image.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 1rem; }
    .bannerSecundario .bannerSecundario__conten {
      margin-bottom: 1rem;
      background-color: rgba(37, 37, 37, 0.252); }
      .bannerSecundario .bannerSecundario__conten h6 {
        display: none; }
      .bannerSecundario .bannerSecundario__conten h2 {
        padding-bottom: 1rem;
        font-size: 1.7rem;
        color: white; }
      .bannerSecundario .bannerSecundario__conten h4 {
        font-size: 1rem;
        color: white; }
      .bannerSecundario .bannerSecundario__conten div {
        margin: 1rem; }
        .bannerSecundario .bannerSecundario__conten div a {
          text-decoration: none;
          color: #1a1a1a;
          font-size: 1.5rem; }
    .bannerSecundario .bannerSecundario__sub {
      background-color: rgba(37, 37, 37, 0.252); }
      .bannerSecundario .bannerSecundario__sub h5 {
        display: none; }
      .bannerSecundario .bannerSecundario__sub p {
        font-size: 0.8rem; }
      .bannerSecundario .bannerSecundario__sub a {
        text-decoration: none;
        color: #1a1a1a;
        font-size: 1.5rem; }
  /* SERVICIOS */
  .carousel__bannerServicios {
    height: 50vh; }
    .carousel__bannerServicios .carousel__bannerServicios--in {
      background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/rsz_imagen_banner.jpg); }
    .carousel__bannerServicios .carousel__bannerServicios--info {
      background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/servicios_contactomobile.jpg); }
    .carousel__bannerServicios .carousel__bannerServicios--nosotras {
      background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/bannerSecundario__image.jpg); }
    .carousel__bannerServicios .imgCarousel {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      object-fit: cover; }
  .carousel {
    margin-top: 1rem; }
  .lincks_servicios--resp {
    display: none !important; }
  /* --------------------------------------- */
  /* CONTACTO */
  .section {
    height: 40%; }
    .section .section__form {
      background-color: rgba(34, 34, 35, 0.26);
      padding: 1rem;
      margin-top: 5rem; }
      .section .section__form input {
        height: 2.5rem; }
      .section .section__form textarea {
        height: 50%; }
    .section .section__img {
      background-image: url(../assets/imagenes/escritorio.webp);
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      object-fit: cover;
      font-size: 2.5rem;
      padding-top: 6rem;
      text-align: center;
      color: aliceblue; }
      .section .section__img h6 {
        padding: 0.5rem; } }

@media (min-width: 501px) {
  .bannerInicio {
    background-image: linear-gradient(to right bottom, #fffdfd7a, #b9b7b752, #77767641, #3b3b3b2d, #000000), url("../assets/imagenes/imagenbanner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    width: 100%;
    height: 50vh; }
    .bannerInicio .bannerInicio__conten {
      color: aliceblue;
      padding-top: 3rem;
      position: absolute;
      left: 20%; }
      .bannerInicio .bannerInicio__conten h1 {
        font-size: 2.4rem;
        font-family: "Playfair Display"; }
      .bannerInicio .bannerInicio__conten h6 {
        font-size: large; }
      .bannerInicio .bannerInicio__conten h4 {
        padding: 1rem; }
      .bannerInicio .bannerInicio__conten .bannerInicio__contact {
        text-decoration: none;
        color: black;
        background-color: rgba(119, 119, 119, 0.281);
        border-radius: 0.5rem;
        padding: 0.5rem;
        position: fixed;
        bottom: 6rem;
        right: 0rem;
        z-index: 10;
        transform: rotate(270deg);
        transition: 1s; }
        .bannerInicio .bannerInicio__conten .bannerInicio__contact:hover {
          background-color: #e6b325b9; }
  .sectionAreas .sectionAreas__titulo {
    background-color: #e7e6e133;
    text-align: center;
    margin: 1rem; }
  .sectionAreas .sectionAreas__cards {
    margin: 1rem;
    margin-left: 2.5rem;
    width: 90%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; }
    .sectionAreas .sectionAreas__cards .sectionAreas__card {
      text-decoration: none;
      color: #000000a9;
      background-color: #ffffff0e;
      font-size: 1rem;
      text-align: center;
      height: 80%;
      margin: 0.5rem;
      padding: 0.5rem;
      overflow: hidden;
      transition: 0.8s; }
      .sectionAreas .sectionAreas__cards .sectionAreas__card:hover {
        transform: translate(-0.2rem, -0.1rem);
        color: #b7950ba8; }
      .sectionAreas .sectionAreas__cards .sectionAreas__card h4 {
        padding: 0.5rem; }
      .sectionAreas .sectionAreas__cards .sectionAreas__card p {
        font-size: 0.7rem; }
      .sectionAreas .sectionAreas__cards .sectionAreas__card .icon-previcional {
        color: #0000009c; }
      .sectionAreas .sectionAreas__cards .sectionAreas__card .icon-laboral {
        color: #0000009c; }
      .sectionAreas .sectionAreas__cards .sectionAreas__card .icon-familiar {
        color: #0000009c; }
      .sectionAreas .sectionAreas__cards .sectionAreas__card .icon-ver {
        color: #0000009c; }
  .bannerSecundario {
    background-color: #e7e7e748;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55vh; }
    .bannerSecundario .bannerSecundario__conten {
      background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/bannerSecundario__imageWeb.jpg);
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      transition: 1s; }
      .bannerSecundario .bannerSecundario__conten:hover {
        color: #b7950ba8;
        background-image: linear-gradient(to right top, #b3b3b3e7, #bdbdbdf3, #777777bd, #919191c2, #f2f3de), url(../assets/imagenes/bannerSecundario__imageWeb.jpg); }
      .bannerSecundario .bannerSecundario__conten h2 {
        font-family: "Playfair Display"; }
      .bannerSecundario .bannerSecundario__conten .bannerSecundario__conten__linck {
        font-family: "Playfair Display";
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 1em;
        margin: 15px 40px;
        text-transform: uppercase;
        display: inline-block;
        list-style: outside none none;
        margin: 0.5em 0.6em;
        padding: 12px 15px;
        position: relative; }
        .bannerSecundario .bannerSecundario__conten .bannerSecundario__conten__linck a {
          color: aliceblue;
          text-decoration: none; }
  .bannerSecundario__conten__linck :before,
  .bannerSecundario__conten__linck :after {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    height: 2px;
    width: 35%;
    background-color: #A47E3B;
    position: absolute;
    content: '';
    opacity: 0; }
  .bannerSecundario__conten__linck :before {
    top: 0;
    left: 0; }
  .bannerSecundario__conten__linck :after {
    bottom: 0;
    right: 0; }
  .bannerSecundario__conten__linck :hover:before,
  .bannerSecundario__conten__linck .hover:before,
  .bannerSecundario__conten__linck :hover:after,
  .bannerSecundario__conten__linck .hover:after {
    opacity: 1; }
  .bannerSecundario__conten__linck :hover:before,
  .bannerSecundario__conten__linck .hover:before {
    left: 65%; }
  .bannerSecundario__conten__linck :hover:after,
  .bannerSecundario__conten__linck .hover:after {
    right: 65%; }
  .bannerSecundario__sub {
    background-image: radial-gradient(circle, #39393980, #5151519f, #6b6b6b8c, #85858581, #a1a1a160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; }
    .bannerSecundario__sub p {
      font-size: 0.7rem;
      margin: 0.5rem;
      color: #000000b2; }
    .bannerSecundario__sub .bannerSecundario__sub__btn {
      background-color: #505050c9;
      border: none;
      text-decoration: none;
      color: #ffffffb9;
      cursor: pointer;
      display: inline-block;
      font-size: 0.5em;
      font-size: 0.5rem;
      line-height: 0.1em;
      margin: 1rem 4rem;
      outline: none;
      padding: 0.5rem 2rem 0.5rem;
      position: relative;
      text-transform: uppercase;
      text-align: center; }
  .bannerSecundario__sub__btn:before,
  .bannerSecundario__sub__btn:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 0.5rem;
    position: absolute;
    width: 0.5rem; }
  .bannerSecundario__sub__btn:before {
    border-color: aliceblue;
    border-left-width: 0.1rem;
    border-top-width: 0.1rem;
    left: -0.3rem;
    top: -0.3rem; }
  .bannerSecundario__sub__btn:after {
    border-bottom-width: 0.1rem;
    border-color: aliceblue;
    border-right-width: 0.1rem;
    bottom: -0.3rem;
    right: -0.3rem; }
  .bannerSecundario__sub__btn:hover,
  .bannerSecundario__sub__btn.hover {
    background-color: #bdbdbdd8; }
  .bannerSecundario__sub__btn:hover:before,
  .bannerSecundario__sub__btn.hover:before,
  .bannerSecundario__sub__btn:hover:after,
  .bannerSecundario__sub__btn.hover:after {
    height: 100%;
    width: 100%; }
  /* CONTACTO */
  .section_contacto {
    background-color: #f0a4001c;
    padding: 2rem; }
    .section_contacto .titulo_contacto {
      padding: 1rem;
      color: #ffffffb4;
      text-align: center;
      background-color: #d5a128a0; }
    .section_contacto .section__img {
      background-image: linear-gradient(to right top, #28282895, #00000091, #f0a40034, #4f4e4ec2, #5f5f5f), url(../assets/imagenes/escritorio.webp);
      margin: 2rem;
      height: 30vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      object-fit: cover;
      text-align: center; }
    .section_contacto h6 {
      padding: 0.2rem;
      font-size: 1rem;
      margin-top: 0.5rem;
      color: aliceblue; }
  .section__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.303);
    padding: 2rem; }
    .section__form textarea {
      margin-top: 2rem; }
    .section__form .section__form__label {
      margin: 1rem;
      color: white; }
    .section__form input {
      background-color: rgba(240, 255, 255, 0.603);
      border-style: none; } }

.nosotras--firma {
  background-color: rgba(47, 47, 47, 0.46);
  color: aliceblue;
  transition: 0.8s; }
  .nosotras--firma .nosotras {
    text-align: center; }
  .nosotras--firma:hover {
    background-color: rgba(109, 87, 0, 0.764); }

.detalle_abog {
  margin-top: 3rem;
  margin-bottom: 2rem; }
  .detalle_abog .img_abogados {
    overflow: hidden;
    transition: 0.8s; }
    .detalle_abog .img_abogados:hover {
      transform: translate(-0.2rem, -0.1rem);
      background-color: rgba(109, 87, 0, 0.45); }

/* SERVICIOS */
.detalle_servicios {
  margin-top: 10rem; }
  .detalle_servicios .img_servicios {
    overflow: hidden;
    transition: 0.8s; }
    .detalle_servicios .img_servicios:hover {
      transform: translate(-0.2rem, -0.1rem);
      background-color: rgba(11, 12, 12, 0.176); }

.lincks_servicios {
  margin-bottom: 2rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.678) !important; }

.carousel__bannerServicios {
  height: 50vh; }
  .carousel__bannerServicios .carousel__bannerServicios--in {
    background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/imagenbanner.jpg); }
  .carousel__bannerServicios .carousel__bannerServicios--info {
    background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/servicios_contacto.jpg); }
  .carousel__bannerServicios .carousel__bannerServicios--nosotras {
    background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/bannerSecundario__imageWeb.jpg); }
  .carousel__bannerServicios .imgCarousel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; }

.seccionContacto__info {
  background-color: rgba(59, 59, 59, 0.589);
  overflow: hidden;
  padding: 2rem;
  color: aliceblue;
  margin: 1rem;
  width: 65%; }
  .seccionContacto__info h2 {
    margin: 0.5rem;
    font-size: 1.4em;
    font-family: "Playfair Display"; }
  .seccionContacto__info p {
    font-size: 0.7em; }

.seccionContacto__contacto {
  width: 35%;
  background-color: #ae9b6098;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem; }
  .seccionContacto__contacto p {
    font-size: 0.8rem;
    padding: 0.5rem; }

@media (max-width: 500px) {
  .bannerNov img {
    display: none; }
  .bannerNov {
    background-image: linear-gradient(to right top, #0b0b0b9d, #2222228f, #3838389d, #4f4f4f93, #67676788), url(../assets/imagenes/novedades.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    text-align: center;
    padding: 1.3rem;
    position: relative;
    color: #ffffff; }
    .bannerNov .bannerNov__conten .bannerNov__conten__text h1 {
      font-size: 2.4rem;
      font-family: "Playfair Display"; }
    .bannerNov .bannerNov__conten .bannerNov__conten__text p {
      margin: 1rem;
      font-size: 1.3rem; }
    .bannerNov .bannerNov__conten .bannerNov__conten__text .bannerInicio__contact {
      text-decoration: none;
      font-size: 1.2rem;
      border: 0.3rem;
      color: rgba(19, 19, 19, 0.798);
      background-color: aliceblue;
      padding: 0.5rem; }
  .sectionBusqueda {
    position: relative;
    top: -5rem; }
    .sectionBusqueda .sectionBusqueda__text {
      display: none; }
    .sectionBusqueda .sectionBusqueda__input input {
      height: 2rem;
      border-radius: 10%; }
    .sectionBusqueda .sectionBusqueda__input .sectionBusqueda__input--btnBusqueda {
      width: 30%; }
    .sectionBusqueda .sectionBusqueda__input .sectionBusqueda__input--busqueda {
      width: 55%; }
  .sectionNoticias {
    background-color: rgba(47, 47, 47, 0.155);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .sectionNoticias .sectionNoticia__noticia {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: aliceblue;
      margin: 1rem;
      padding: 1rem; }
      .sectionNoticias .sectionNoticia__noticia img {
        width: 100%; }
    .sectionNoticias h5 {
      padding: 1.5rem;
      font-size: 1.6rem; } }

@media (min-width: 501px) {
  .navResp {
    display: none; }
  .sectionNoticia__noticia img {
    display: none; }
  .bannerNov {
    background-color: #f0a40080;
    display: flex;
    flex-direction: row;
    justify-content: none; }
  .bannerNov__conten__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    object-fit: cover;
    height: 60vh;
    width: 40%; }
  .sub {
    bottom: 7rem;
    right: -1rem; }
  .bannerNov__conten {
    background-color: rgba(85, 85, 87, 0.75); }
  .bannerNov__conten__text {
    color: white;
    text-align: center;
    margin-top: 20%; }
  .bannerNov__conten__text p {
    margin: 2rem; }
  .sectionBusqueda {
    background-color: #ffc847da;
    width: 60vh;
    padding: 1rem; }
  .sectionBusqueda__text {
    background-color: #e9840173;
    width: 20rem;
    height: 5rem;
    margin: 2rem;
    position: absolute;
    left: 80vh;
    top: 20rem;
    padding: 1rem;
    text-align: center; }
  .sectionNoticias {
    position: relative;
    left: 4.5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem; }
  .sectionNoticia__noticia {
    border: 1px inset; }
  .sectionNoticias div {
    background-color: rgba(245, 245, 220, 0.521);
    border-style: inset;
    margin: 1rem; }
  .sectionNoticias div h5 {
    margin: 1em;
    padding: 1em;
    width: 94%;
    height: 10rem;
    font-size: larger;
    color: rgba(0, 0, 0, 0.795); }
  .sectionNoticias div p {
    margin: 2rem;
    text-align: center; }
  .sectionNoticias__titulo1 {
    background-image: url(../assets/imagenes/perro-gatoWeb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    object-fit: cover; }
  .sectionNoticias__titulo2 {
    background-image: url(../assets/imagenes/jubilacion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    object-fit: cover; }
  .sectionNoticias__titulo3 {
    background-image: url(../assets/imagenes/indemnizacion.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    object-fit: cover; } }

@media (max-width: 500px) {
  .footer {
    color: aliceblue;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer .logoFooter {
      width: 2rem;
      margin: 1rem; }
    .footer .footer__lincks a {
      color: aliceblue;
      margin: 0.5rem; } }

@media (min-width: 501px) {
  .footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: rgba(240, 248, 255, 0.719); }
    .footer .footer__contacto {
      position: relative;
      left: 1rem;
      width: 50vh;
      padding-top: 1rem; }
    .footer .footer__section .footer__section__firma {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 1.5rem;
      justify-content: space-between; }
      .footer .footer__section .footer__section__firma .logoFooter {
        height: auto;
        width: 1.5rem;
        margin: 1rem; }
      .footer .footer__section .footer__section__firma .footer__lincks {
        margin-left: 15rem;
        padding: 0.5rem; }
        .footer .footer__section .footer__section__firma .footer__lincks .footer__lincks--facebook {
          padding: 0.5rem;
          color: aliceblue; }
          .footer .footer__section .footer__section__firma .footer__lincks .footer__lincks--facebook:hover {
            color: #e6b325b9; }
        .footer .footer__section .footer__section__firma .footer__lincks .footer__lincks--instagram {
          padding: 0.5rem;
          color: #f2f3de; }
          .footer .footer__section .footer__section__firma .footer__lincks .footer__lincks--instagram:hover {
            color: #e6b325b9; } }
