@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Noticia+Text&family=Playfair+Display:ital,wght@1,500&family=Roboto:ital@1&family=Source+Serif+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Noticia+Text&family=Playfair+Display:ital,wght@1,500&family=Roboto:ital@1&family=Source+Serif+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Noticia+Text&family=Playfair+Display:ital,wght@1,500&family=Roboto:ital@1&family=Source+Serif+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 500px) {
  .body {
    background-image: url(../assets/imagenes/fondogeneral.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; }
  .body_contacto {
    background-image: linear-gradient(to right top, #c1d0fb5a, #9da4c83c), url(../assets/imagenes/rsz_fondo_contacto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; } }

@media (min-width: 501px) {
  .body {
    background-image: url(../assets/imagenes/fondogeneralWeb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; }
  .body_contacto {
    background-image: linear-gradient(to right top, #c1d0fb5a, #9da4c83c), url(../assets/imagenes/fondo_contacto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; } }

@media (max-width: 505px) {
  .header {
    height: 4rem;
    background-color: #fdfdfd31; }
    .header .navbar .logo {
      height: 3.5rem;
      width: 3.5rem; }
    .header .navbar .contentLinks {
      display: none; }
    .header .navresp {
      background-color: #090808; }
      .header .navresp .contentLinks {
        display: none; } }

@media (min-width: 506px) {
  .header {
    background-color: #fafafa7c;
    position: sticky;
    top: 0px;
    z-index: 10;
    height: 4rem; }
    .header .navbar {
      height: 3rem; }
      .header .navbar .navResp {
        display: none; }
      .header .navbar .logo {
        position: relative;
        bottom: 0.5rem;
        height: 4rem;
        width: 4rem; }
      .header .navbar .contentLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: auto;
        margin-bottom: 0.5rem;
        position: relative;
        bottom: 0rem;
        font-size: 1.3rem; }
        .header .navbar .contentLinks .navbar__linck {
          text-decoration: none;
          color: black !important;
          margin-left: 1em;
          position: relative; }
          .header .navbar .contentLinks .navbar__linck:hover:after {
            transform: scaleX(1); }
          .header .navbar .contentLinks .navbar__linck:after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: black;
            border-radius: 4px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .35s ease; }
        .header .navbar .contentLinks :root {
          --animate-delay: 0.2s; } }

@media (max-width: 500px) {
  .bannerSecundario {
    background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/bannerSecundario__image.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 1rem; }
    .bannerSecundario .bannerSecundario__conten {
      margin-bottom: 1rem;
      background-color: rgba(37, 37, 37, 0.252); }
      .bannerSecundario .bannerSecundario__conten h6 {
        display: none; }
      .bannerSecundario .bannerSecundario__conten h2 {
        padding-bottom: 1rem;
        font-size: 1.7rem;
        color: white; }
      .bannerSecundario .bannerSecundario__conten h4 {
        font-size: 1rem;
        color: white; }
      .bannerSecundario .bannerSecundario__conten div {
        margin: 1rem; }
        .bannerSecundario .bannerSecundario__conten div a {
          text-decoration: none;
          color: #1a1a1a;
          font-size: 1.5rem; }
    .bannerSecundario .bannerSecundario__sub {
      background-color: rgba(37, 37, 37, 0.252); }
      .bannerSecundario .bannerSecundario__sub h5 {
        display: none; }
      .bannerSecundario .bannerSecundario__sub p {
        font-size: 0.8rem; }
      .bannerSecundario .bannerSecundario__sub a {
        text-decoration: none;
        color: #1a1a1a;
        font-size: 1.5rem; }
  /* SERVICIOS */
  .carousel__bannerServicios {
    height: 50vh; }
    .carousel__bannerServicios .carousel__bannerServicios--in {
      background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/rsz_imagen_banner.jpg); }
    .carousel__bannerServicios .carousel__bannerServicios--info {
      background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/servicios_contactomobile.jpg); }
    .carousel__bannerServicios .carousel__bannerServicios--nosotras {
      background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/bannerSecundario__image.jpg); }
    .carousel__bannerServicios .imgCarousel {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      object-fit: cover; }
  .carousel {
    margin-top: 1rem; }
  /* --------------------------------------- */
  .bannerNov {
    background-image: linear-gradient(to top, #ffffffd6, #b9b9b9bf, #7777777e, #3b3b3b7e, #00000097), url(../assets/imagenes/novedades.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center; } }

@media (min-width: 501px) {
  .bannerSecundario {
    background-color: #e7e7e748;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 55vh; }
    .bannerSecundario .bannerSecundario__conten {
      background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/bannerSecundario__imageWeb.jpg);
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      transition: 1s; }
      .bannerSecundario .bannerSecundario__conten:hover {
        color: #b7950ba8;
        background-image: linear-gradient(to right top, #b3b3b3e7, #bdbdbdf3, #777777bd, #919191c2, #f2f3de), url(../assets/imagenes/bannerSecundario__imageWeb.jpg); }
      .bannerSecundario .bannerSecundario__conten .bannerSecundario__conten__linck {
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 1em;
        margin: 15px 40px;
        text-transform: uppercase;
        display: inline-block;
        list-style: outside none none;
        margin: 0.5em 0.6em;
        padding: 12px 15px;
        position: relative; }
        .bannerSecundario .bannerSecundario__conten .bannerSecundario__conten__linck a {
          color: aliceblue;
          text-decoration: none; }
  .bannerSecundario__conten__linck :before,
  .bannerSecundario__conten__linck :after {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    height: 2px;
    width: 35%;
    background-color: #A47E3B;
    position: absolute;
    content: '';
    opacity: 0; }
  .bannerSecundario__conten__linck :before {
    top: 0;
    left: 0; }
  .bannerSecundario__conten__linck :after {
    bottom: 0;
    right: 0; }
  .bannerSecundario__conten__linck :hover:before,
  .bannerSecundario__conten__linck .hover:before,
  .bannerSecundario__conten__linck :hover:after,
  .bannerSecundario__conten__linck .hover:after {
    opacity: 1; }
  .bannerSecundario__conten__linck :hover:before,
  .bannerSecundario__conten__linck .hover:before {
    left: 65%; }
  .bannerSecundario__conten__linck :hover:after,
  .bannerSecundario__conten__linck .hover:after {
    right: 65%; }
  .bannerSecundario__sub {
    background-image: radial-gradient(circle, #39393980, #5151519f, #6b6b6b8c, #85858581, #a1a1a160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; }
    .bannerSecundario__sub p {
      font-size: 0.7rem;
      margin: 0.5rem;
      color: #000000b2; }
    .bannerSecundario__sub .bannerSecundario__sub__btn {
      background-color: #505050c9;
      border: none;
      text-decoration: none;
      color: #ffffffb9;
      cursor: pointer;
      display: inline-block;
      font-size: 0.5em;
      font-size: 0.5rem;
      line-height: 0.1em;
      margin: 1rem 4rem;
      outline: none;
      padding: 0.5rem 2rem 0.5rem;
      position: relative;
      text-transform: uppercase;
      text-align: center; }
  .bannerSecundario__sub__btn:before,
  .bannerSecundario__sub__btn:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 0.5rem;
    position: absolute;
    width: 0.5rem; }
  .bannerSecundario__sub__btn:before {
    border-color: aliceblue;
    border-left-width: 0.1rem;
    border-top-width: 0.1rem;
    left: -0.3rem;
    top: -0.3rem; }
  .bannerSecundario__sub__btn:after {
    border-bottom-width: 0.1rem;
    border-color: aliceblue;
    border-right-width: 0.1rem;
    bottom: -0.3rem;
    right: -0.3rem; }
  .bannerSecundario__sub__btn:hover,
  .bannerSecundario__sub__btn.hover {
    background-color: #bdbdbdd8; }
  .bannerSecundario__sub__btn:hover:before,
  .bannerSecundario__sub__btn.hover:before,
  .bannerSecundario__sub__btn:hover:after,
  .bannerSecundario__sub__btn.hover:after {
    height: 100%;
    width: 100%; }
  .bannerNov {
    background-image: linear-gradient(to top, #ffffffd6, #b9b9b9bf, #7777777e, #3b3b3b7e, #00000097), url(../assets/imagenes/novedadesWeb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center; } }

.bannerInicio {
  background-image: linear-gradient(to right bottom, #fffdfd7a, #b9b7b752, #77767641, #3b3b3b2d, #000000), url("../assets/imagenes/imagenbanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  width: 100%;
  height: 50vh; }
  .bannerInicio .bannerInicio__conten {
    color: aliceblue;
    padding-top: 3rem;
    position: absolute;
    left: 20%; }
    .bannerInicio .bannerInicio__conten h1 {
      font-size: 2.4rem; }
    .bannerInicio .bannerInicio__conten h6 {
      font-size: large; }
    .bannerInicio .bannerInicio__conten h4 {
      padding: 1rem; }
    .bannerInicio .bannerInicio__conten .bannerInicio__contact {
      text-decoration: none;
      color: black;
      background-color: rgba(119, 119, 119, 0.281);
      border-radius: 0.5rem;
      padding: 0.5rem;
      position: fixed;
      bottom: 6rem;
      right: 0rem;
      z-index: 10;
      transform: rotate(270deg);
      transition: 1s; }
      .bannerInicio .bannerInicio__conten .bannerInicio__contact:hover {
        background-color: #e6b325b9; }

.sectionAreas .sectionAreas__titulo {
  background-color: #e7e6e133;
  text-align: center;
  margin: 1rem; }

.sectionAreas .sectionAreas__cards {
  margin: 1rem;
  margin-left: 2.5rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .sectionAreas .sectionAreas__cards .sectionAreas__card {
    text-decoration: none;
    color: #000000a9;
    background-color: #ffffff0e;
    font-size: 1rem;
    text-align: center;
    height: 80%;
    margin: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
    transition: 0.8s; }
    .sectionAreas .sectionAreas__cards .sectionAreas__card:hover {
      transform: translate(-0.2rem, -0.1rem);
      color: #b7950ba8; }
    .sectionAreas .sectionAreas__cards .sectionAreas__card h4 {
      padding: 0.5rem; }
    .sectionAreas .sectionAreas__cards .sectionAreas__card p {
      font-size: 0.7rem; }
    .sectionAreas .sectionAreas__cards .sectionAreas__card .icon-previcional {
      color: #0000009c; }
    .sectionAreas .sectionAreas__cards .sectionAreas__card .icon-laboral {
      color: #0000009c; }
    .sectionAreas .sectionAreas__cards .sectionAreas__card .icon-familiar {
      color: #0000009c; }
    .sectionAreas .sectionAreas__cards .sectionAreas__card .icon-ver {
      color: #0000009c; }

/* CONTACTO */
.section_contacto {
  background-color: #f0a4001c;
  padding: 2rem; }
  .section_contacto .titulo_contacto {
    padding: 1rem;
    color: #ffffffb4;
    text-align: center;
    background-color: #00000031; }
  .section_contacto .section__img {
    background-image: url(../assets/imagenes/escritorio.jpg);
    margin: 2rem;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    text-align: center; }
    .section_contacto .section__img h2 {
      padding-top: 5rem;
      font-size: 1rem;
      margin-top: 0.5rem; }
    .section_contacto .section__img h3 {
      font-size: 1rem; }

.section__form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.303);
  padding: 2rem; }
  .section__form textarea {
    margin-top: 2rem; }
  .section__form .section__form__label {
    margin: 1rem;
    color: white; }
  .section__form input {
    background-color: rgba(240, 255, 255, 0.603);
    border-style: none; }

.nosotras--firma {
  background-color: rgba(47, 47, 47, 0.46);
  color: aliceblue;
  transition: 0.8s; }
  .nosotras--firma .nosotras {
    text-align: center; }
  .nosotras--firma:hover {
    background-color: rgba(109, 87, 0, 0.764); }

.detalle_abog {
  margin-top: 3rem;
  margin-bottom: 2rem; }
  .detalle_abog .img_abogados {
    overflow: hidden;
    transition: 0.8s; }
    .detalle_abog .img_abogados:hover {
      transform: translate(-0.2rem, -0.1rem);
      background-color: rgba(109, 87, 0, 0.45); }

/* SERVICIOS */
.detalle_servicios {
  margin-top: 10rem; }
  .detalle_servicios .img_servicios {
    overflow: hidden;
    transition: 0.8s; }
    .detalle_servicios .img_servicios:hover {
      transform: translate(-0.2rem, -0.1rem);
      background-color: rgba(11, 12, 12, 0.176); }

.lincks_servicios {
  margin-bottom: 2rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.678) !important; }

.carousel__bannerServicios {
  height: 50vh; }
  .carousel__bannerServicios .carousel__bannerServicios--in {
    background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/imagenbanner.jpg); }
  .carousel__bannerServicios .carousel__bannerServicios--info {
    background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/servicios_contacto.jpg); }
  .carousel__bannerServicios .carousel__bannerServicios--nosotras {
    background-image: linear-gradient(to right top, #b3b3b3bd, #bdbdbdd3, #77777765, #91919163, #f2f3de), url(../assets/imagenes/bannerSecundario__imageWeb.jpg); }
  .carousel__bannerServicios .imgCarousel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover; }

.sectionNoticia__noticia img {
  display: none; }

.bannerNov__conten {
  background-color: rgba(170, 170, 170, 0.315);
  height: 80vh;
  width: 80%;
  color: #b7950b9e;
  transition: 0.8s; }
  .bannerNov__conten:hover {
    transform: translate(-0.2rem, -0.1rem);
    color: rgba(251, 251, 251, 0.775);
    background-color: rgba(53, 53, 53, 0.64); }
  .bannerNov__conten .bannerNov__conten__text {
    text-align: center;
    margin-top: 20%;
    font-size: 2rem; }
    .bannerNov__conten .bannerNov__conten__text h1 {
      margin-bottom: 5rem;
      font-size: 5rem; }
    .bannerNov__conten .bannerNov__conten__text p {
      margin: 2rem;
      font-size: 1.3rem;
      font-family: "Roboto"; }
    .bannerNov__conten .bannerNov__conten__text a {
      bottom: 7rem;
      right: -1rem;
      padding: 0.8rem;
      text-decoration: none;
      background-color: aliceblue;
      border-radius: 30%;
      color: rgba(0, 0, 0, 0.545);
      transition: 0.8s; }
      .bannerNov__conten .bannerNov__conten__text a:hover {
        transform: translate(0.2rem, 0.1rem);
        color: #b7950ba8;
        background-color: rgba(240, 248, 255, 0.687); }

.sectionNoticias {
  position: relative;
  left: 4.5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem; }
  .sectionNoticias .novedades_linck {
    background-color: rgba(0, 0, 0, 0.181);
    text-decoration: none;
    text-align: center;
    padding: 0.7rem;
    font-size: 1.5rem;
    color: #444444;
    transition: 0.8s; }
    .sectionNoticias .novedades_linck:hover {
      transform: translate(-0.2rem, -0.1rem);
      background-color: rgba(0, 0, 0, 0.671);
      color: #b7950ba8; }
  .sectionNoticias .sectionNoticia__noticia {
    border: 1px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.535);
    margin: 1rem; }
    .sectionNoticias .sectionNoticia__noticia .linckInteres {
      border-color: aliceblue; }
    .sectionNoticias .sectionNoticia__noticia .sectionNoticias__noticia--contenido {
      overflow: auto;
      height: 50vh;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .sectionNoticias .sectionNoticia__noticia .sectionNoticias__noticia--contenido p {
        font-size: 1.3rem;
        width: 55%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .sectionNoticias .sectionNoticia__noticia .sectionNoticias__noticia--contenido .sectionNoticias__noticia--contenido-img1 {
        background-image: url(../assets/imagenes/perro-gatoWeb.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: local;
        object-fit: cover;
        width: 45%; }
      .sectionNoticias .sectionNoticia__noticia .sectionNoticias__noticia--contenido .sectionNoticias__noticia--contenido-img2 {
        background-image: url(../assets/imagenes/jubilacion.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: local;
        object-fit: cover;
        width: 45%; }
      .sectionNoticias .sectionNoticia__noticia .sectionNoticias__noticia--contenido .sectionNoticias__noticia--contenido-img3 {
        background-image: url(../assets/imagenes/indemnizacion.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: local;
        object-fit: cover;
        width: 45%; }
    .sectionNoticias .sectionNoticia__noticia .sectionNoticias__noticia--titulo {
      margin-bottom: 2rem; }
      .sectionNoticias .sectionNoticia__noticia .sectionNoticias__noticia--titulo h2 {
        font-size: 2rem;
        margin: 0.5rem;
        border-bottom: rgba(0, 0, 0, 0.489) 0.5rem solid; }
      .sectionNoticias .sectionNoticia__noticia .sectionNoticias__noticia--titulo h3 {
        font-size: 0.8rem;
        background-color: rgba(0, 0, 0, 0.303); }
        .sectionNoticias .sectionNoticia__noticia .sectionNoticias__noticia--titulo h3 .sectionNoticias__noticia--titulo-autor {
          font-size: 1rem; }

.seccionContacto__info {
  background-color: rgba(59, 59, 59, 0.589);
  overflow: hidden;
  padding: 2rem;
  color: aliceblue;
  margin: 1rem;
  width: 65%; }
  .seccionContacto__info h2 {
    margin: 0.5rem;
    font-size: 1.4em; }
  .seccionContacto__info p {
    font-size: 0.7em; }

.seccionContacto__contacto {
  width: 35%;
  background-color: #ae9b6098;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem; }
  .seccionContacto__contacto p {
    font-size: 0.8rem;
    padding: 0.5rem; }

@media (max-width: 500px) {
  .footer {
    color: aliceblue;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer .logoFooter {
      width: 2rem;
      margin: 1rem; }
    .footer .footer__lincks a {
      color: aliceblue;
      margin: 0.5rem; } }

@media (min-width: 501px) {
  .footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: rgba(240, 248, 255, 0.719); }
    .footer .footer__contacto {
      position: relative;
      left: 1rem;
      width: 50vh;
      padding-top: 1rem; }
    .footer .footer__section .footer__section__firma {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 1.5rem;
      justify-content: space-between; }
      .footer .footer__section .footer__section__firma .logoFooter {
        height: auto;
        width: 1.5rem;
        margin: 1rem; }
      .footer .footer__section .footer__section__firma .footer__lincks {
        margin-left: 15rem;
        padding: 0.5rem; }
        .footer .footer__section .footer__section__firma .footer__lincks .footer__lincks--facebook {
          padding: 0.5rem;
          color: aliceblue; }
          .footer .footer__section .footer__section__firma .footer__lincks .footer__lincks--facebook:hover {
            color: #e6b325b9; }
        .footer .footer__section .footer__section__firma .footer__lincks .footer__lincks--instagram {
          padding: 0.5rem;
          color: #f2f3de; }
          .footer .footer__section .footer__section__firma .footer__lincks .footer__lincks--instagram:hover {
            color: #e6b325b9; } }
