/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-image: url(../assets/imagenes/fondo\ general.png);
    display: grid;
    grid-template-rows:40% auto auto 10%;
    justify-content: center;
    
}
.header{
    background-color: rgba(158, 158, 158, 0.575);
    width: 100%;
}
.contentLinks{
    position: absolute;
    top:40vh;
    
    display: flex;
   
    justify-content: space-around;
    background-color: rgba(240, 248, 255, 0.322);
    width: 100%;
    height: fit-content;
}
.contentLinks a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.logo{
    display: none;
}
.bannerInicio{
    
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 3rem;
    text-align: center;
}
.bannerInicio__conten h1{
    font-size: 4rem;
    margin: 2rem;
    
}
.bannerInicio__conten h4{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.bannerInicio__conten h6{
    font-size: 1rem;;
}
.bannerInicio__conten a{
    display: none;

}
.seccionContacto{
    background-color: #e6b3255e;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.seccionContacto__info{
    margin-bottom: 1rem;
}
.seccionContacto__info h2{
    margin:1rem;
    font-size: 1.6rem;
}
.seccionContacto__info p{
    font-size: 1.1rem;
}
.sectionAreas{
    text-align: center;
}
.sectionAreas__titulo{

    font-size: 1.7rem;
}
.sectionAreas__cards{
    padding: 1.5rem;
    background-color: rgba(245, 245, 220, 0.486);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionAreas__cards a{
    color: black;
    text-decoration: none;
    margin: 0.7rem;
    background-color: rgba(88, 88, 88, 0.26);
    padding: 0.5rem;

}
.sectionAreas__cards__titulo{
    margin: 0.5em;
    font-size:1.1em ;
}
.bannerSecundario{
    text-align: center;
    background-color: rgba(0, 255, 255, 0.384);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin:1rem;
}
.bannerSecundario__conten{
    margin-bottom: 1rem;
    background-color: blue;
}
.bannerSecundario__conten h2{
    padding-bottom: 1rem;
    font-size: 1.7rem;
}
.bannerSecundario__conten h4{
    font-size: 1rem;
}

.bannerSecundario__conten div{
    margin: 1rem;
}
.bannerSecundario__conten div a{
    text-decoration:none ;
    color: aliceblue;
    font-size: 1.5rem;
    
}
.bannerSecundario__sub{
    background-color: blue;
}

.bannerSecundario__sub a{
    text-decoration:none ;
    color: aliceblue;
    font-size: 1.5rem;
}
.footer{
    color: aliceblue;
    text-align: center;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logoFooter{
    width: 2rem;
    margin: 1rem;
}
.footer__lincks a{
    color: aliceblue;
    margin: 0.5rem;
} */

/* SERVICIOS */
.head__servicios__movile{
    background-image: url(../assets/imagenes/banner_servicios.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.servicios__cont__card--imgWeb{
    display: none;
}
.nav_servicios{
    display: none;
}
.bannerServicios{
    
    height: 14vh;
    text-align: center;
    margin: 1rem ;
    
    font-size: 1.3rem;
}
.bannerServicios__conten__text p{
    background-color: rgba(0, 255, 255, 0.404);
    padding: 1rem;
    margin-top: 3rem;
    

}

.bannerServicios__conten__text h1{
    background-color: rgba(255, 235, 205, 0.493);
    position: absolute;
    top:15%;
    font-size: 2rem;
    width: 87%;
    padding: 1rem;
}
.servicios{
    background-color: rgba(208, 255, 0, 0.452);
    display: flex;
    /* margin: 1rem; */
    justify-content:space-evenly;
}
.servicios__cont__card{
    background-color: blue;
    margin: 1rem;
    display: flex;
    
}
.servicios__cont__card--imgMovile{
    width: 17vh;
    height: 13vh;
}
.servicios__cont__card__info{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ------------------------------------------------------------- */

/* NOVEDADES */

.g-Novs{
    display: grid;
    grid-template-rows:38%  auto 15%;
}
.navbar div{
    top:55vh
}
.logo{
    display: none;
}
.bannerNov img{
    display: none;
}
.header__novedades{
    background-image: url(../assets/imagenes/bannerNovedades.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 50vh;


}
.bannerNov{
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 255, 0.13);
    text-align: center;
    padding: 1.3rem;
    position: relative;
    top: -12rem;
}
.bannerNov__conten__text h1{
    font-size: 2.4rem;
}
.bannerNov__conten__text p{
    margin: 1rem;
    font-size:1.3rem ;
}
.bannerInicio__contact{
    text-decoration: none;
    font-size: 1.2rem;
    border:0.3rem;
    color: black;
    background-color: aliceblue;
    padding: 0.5rem;
}

.sectionBusqueda__text{
    display: none;
}
.sectionBusqueda__input{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    height: 2rem;
}
.sectionBusqueda__input input{
    height: 2rem;
    border-radius: 10%;
}

.sectionBusqueda__input--btnBusqueda{
    width: 30%;
}
.sectionBusqueda__input--busqueda{
    width: 55%;
}
.sectionNoticias{
    /* background-color: aqua; */
    
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.sectionNoticia__noticia{
    display:flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin: 1rem;
    padding: 1rem;
}
.sectionNoticias h5{
    padding: 1.5rem;
    font-size: 1.6rem;
}
.sectionNoticia__noticia img{
    width: 100%;
} 

/* -------------------------------------- */

/* NOSOTRAS     */

.sectionPresentacion__abogados__img2{
    display: none;
}

.sectionPresentacion__conten{
    /* background-color: aqua; */
    position: absolute;
    top: 8%;
    text-align: center;
}
.sectionPresentacion__conten--titulo{
    padding: 1rem;
    font-size: 1.9rem;
}
.sectionPresentacion__conten--p{
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.sectionPresentacion__abogados{
    
    display: flex;
    flex-direction: column;

}
.sectionPresentacion__abogados div{
    background-color: aqua;
    height: 70vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
.sectionPresentacion__abogados div p{
    padding: 1rem;
    font-size: 1.2rem;
}


/* --------------------------------------- */


/* CONTACTO */

.g-Cont{
    
    background-image:url(../assets/imagenes/fondo2.jpg);
    display: grid;
    grid-template-rows: 0% auto 15%;
    
}
/* .section{
    background-color: aqua;
    height:70vh;
} */
.section__form{
    background-color: rgba(0, 0, 255, 0.26);
    height: 70vh;
    padding:1rem;
    margin-top: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section__form input{
    height: 2.5rem;
}
.section__form textarea{
    height: 50%;
}
.section__img{
    background-image: url(../assets/imagenes/escritorio.webp);
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    font-size: 2.5rem;
    padding-top:6rem ;
    text-align: center;
    color: aliceblue;
}
.section__img h6{
    padding: 1rem;

}