@import"variables";
@media  (max-width:505px){ 
    // INDEX
    .header{
        height: 4rem;
        background-color: #fdfdfd31;
        .navbar{
            .logo{
                height: 3.5rem;
                width: 3.5rem;
            }
            .contentLinks{
                display: none;
            } 
        }
        .navresp{
            background-color: #090808;
            .contentLinks{
                display: none;
            }
        }
        
    }
}
@media (min-width:506px){
    .header{
        background-color:#fafafa7c;
        position: sticky;
        top: 0px;
        z-index: 10;
        height: 4rem;
        .navbar{
            .navResp{
                display: none;
            }
            .logo{
                position: relative;
                bottom: 0.5rem;
                height: 4rem;
                width: 4rem;
                
            }
            height: 3rem;
            .contentLinks{
                display: flex;
                flex-direction: row;
                justify-content: $center;
                align-self: auto;
                margin-bottom:0.5rem ;
                position: relative;
                bottom: 0rem;
                font-size: 1.3rem;
                .navbar__linck{
                    text-decoration: none;
                    color: black !important;;
                    margin-left: 1em;
                    position: relative;
                    &:hover{
                        &:after{
                            transform:scaleX(1);
                        }
                    }
                    &:after{
                        content:'';
                        width: 100%;
                        height:1px;
                        background-color: rgb(0, 0, 0);
                        border-radius:4px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transform:scaleX(0);
                        transform-origin: left;
                        transition: transform .35s ease;
                    }          
                }
                :root {
                    --animate-delay: 0.2s;
                }
            }
            
        }
      
        
    }
    

    
    
 }