@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Noticia+Text&family=Playfair+Display:ital,wght@1,500&family=Roboto:ital@1&family=Source+Serif+Pro:wght@300&display=swap');
$center:center;
$no-repeat:no-repeat;
$cover:cover;
$fixed:fixed;


$fuentes:(
    text:'Roboto', sans-serif
    titulos:'Abhaya Libre', serif
    font-general: 'Source Serif Pro', "serif"
    font-text: 'Noticia Text'/ "serif"
);

$rem: 1rem; 


