
@import url('https://fonts.googleapis.com/css2?familia =Abhaya + Libre: wght @ 500&familia =Cormorán + Garamond: wght @ 600&familia =Noticia + Texto&familia =Playfair + Pantalla: ital, wght @ 1,500&familia =Roboto: ital @ 1&familia =Fuente + Serif + Pro: wght @ 300&mostrar = swap ');
$center:center;
$no-repeat:no-repeat;
$cover:cover;
$fixed:fixed;


$fuentes:(
    titulos:'Roboto', sans-serif
    font-general: 'Source Serif Pro', "serif"
    font-text: 'Noticia Text'/ "serif"
);

$rem: 1rem; 


